In [1]:
import pandas as pd

In [2]:
raw_season=pd.read_csv('season.csv')

In [3]:
raw_train=pd.read_csv('train.csv')

In [4]:
raw_test=pd.read_csv('test.csv')

In [5]:
raw_season=pd.read_csv('season.csv')

In [35]:
len(raw_season.PerNo.unique())

4987

In [47]:
raw_season

       yyyy periodQ  PerNo  加班數  出差數A  出差數B  請假數A  請假數B
0      2014  2014Q1      1    0     8     0     1     0
1      2014  2014Q1      3    0     0     0     2     0
2      2014  2014Q1      6    0     2     0     1     0
3      2014  2014Q1     10    0     2     0     3     0
4      2014  2014Q1     14    3     1     0     2     0
...     ...     ...    ...  ...   ...   ...   ...   ...
72679  2018  2018Q4   8761    1     0     0     1     0
72680  2018  2018Q4   8765    1     1     0     1     0
72681  2018  2018Q4   8767    1     3     1     3     0
72682  2018  2018Q4   8774    0     0     0     2     0
72683  2018  2018Q4   8775    0     8     0     1     0

[72684 rows x 8 columns]

In [48]:
len(raw_season.PerNo.unique())

4987

In [49]:
raw_season[raw_season.PerNo==1]

       yyyy periodQ  PerNo  加班數  出差數A  出差數B  請假數A  請假數B
0      2014  2014Q1      1    0     8     0     1     0
3513   2014  2014Q2      1    2     5     0     1     0
7026   2014  2014Q3      1    0     4     0     3     0
10539  2014  2014Q4      1    1     4     0     3     0
14052  2015  2015Q1      1    1     3     0     3     0
17642  2015  2015Q2      1    0     4     0     5     0
21232  2015  2015Q3      1    0     3     0     2     0
24822  2015  2015Q4      1    0     2     1     6     0
28412  2016  2016Q1      1    0     2     1     3     0
32061  2016  2016Q2      1    2     3     0     2     0
35710  2016  2016Q3      1    0     2     0     2     0
39359  2016  2016Q4      1    0     3     0     4     0
43008  2017  2017Q1      1    0     3     1     1     0
46688  2017  2017Q2      1    0     1     0     1     0
50368  2017  2017Q3      1    0     2     0     1     0
54048  2017  2017Q4      1    1     1     3     4     0
57728  2018  2018Q1      1    0     3     1     2     0
61467  2018  2018Q2      1    0     3     1     1     0
65206  2018  2018Q3      1    0     3     2     2     0
68945  2018  2018Q4      1    0     2     1     5     0

In [38]:
raw_test

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
0,2018,1,NaN,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,6.0,5.0,1.0,6.0,0.0,1.0,1.0,4.0,3.0,0.0,2.0,5.0,7.0,0.0,0.0,3.0,1.0,2.0,6.0,10.0,5.0,8.0,1.0,3.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
1,2018,3,NaN,0.0,1.0,4.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,22.0,3.0,5.0,2.0,6.0,0.0,0.0,0.0,9.0,1.0,0.0,7.0,4.0,8.0,0.0,0.0,1.0,0.0,0.0,6.0,4.0,5.0,11.0,1.0,6.0,6.0,0.0,0.0,2.0,4.0,1.0,2.0,8.0,8181.0
2,2018,7,NaN,0.0,1.0,4.0,4.0,1.0,0.0,0.0,0.0,0.0,0.0,22.0,1.0,1.0,0.0,6.0,0.0,0.0,1.0,8.0,2.0,0.0,2.0,0.0,9.0,0.0,2.0,1.0,0.0,0.0,1.0,1.0,5.0,4.0,2.0,1.0,1.0,0.0,0.0,NaN,NaN,5.0,0.0,10.0,4010.0
3,2018,15,NaN,0.0,1.0,4.0,2.0,4.0,0.0,0.0,0.0,0.0,0.0,14.0,4.0,1.0,1.0,5.0,0.0,0.0,3.0,1.0,1.0,0.0,2.0,4.0,5.0,0.0,0.0,1.0,0.0,0.0,6.0,2.0,4.0,10.0,1.0,3.0,1.0,4.0,2.0,NaN,4.0,8.0,2.0,9.0,2177.0
4,2018,16,NaN,0.0,1.0,4.0,12.0,1.0,0.0,0.0,0.0,0.0,0.0,21.0,1.0,1.0,0.0,11.0,1.0,2.0,2.0,4.0,0.0,0.0,1.0,2.0,10.0,1.0,2.0,3.0,1.0,4.0,10.0,10.0,5.0,6.0,1.0,3.0,1.0,3.0,1.0,2.0,3.0,3.0,2.0,10.0,12072.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3734,2018,8761,NaN,1.0,1.0,7.0,20.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,0.0,0.0,1.0,0.0,0.0,10.0,7.0,2.0,6.0,2.0,2.0,1.0,1.0,1.0,2.0,NaN,5.0,0.0,8.0,20123.0
3735,2018,8765,NaN,0.0,1.0,4.0,14.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,2.0,5.0,2.0,6.0,1.0,0.0,2.0,1.0,1.0,0.0,5.0,1.0,8.0,0.0,0.0,1.0,0.0,0.0,2.0,4.0,2.0,12.0,1.0,7.0,6.0,1.0,1.0,2.0,3.0,7.0,1.0,8.0,14053.0
3736,2018,8767,NaN,1.0,1.0,4.0,13.0,1.0,0.0,0.0,0.0,1.0,1.0,23.0,3.0,5.0,1.0,6.0,0.0,0.0,0.0,3.0,1.0,0.0,1.0,4.0,7.0,0.0,0.0,2.0,1.0,2.0,10.0,8.0,5.0,3.0,2.0,2.0,2.0,0.0,0.0,2.0,4.0,7.0,0.0,8.0,13084.0
3737,2018,8774,NaN,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,1.0,5.0,0.0,0.0,1.0,0.0,1.0,0.0,6.0,2.0,7.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,11.0,1.0,7.0,6.0,2.0,1.0,3.0,3.0,8.0,2.0,8.0,8012.0
3738,2018,8775,NaN,1.0,2.0,2.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,1.0,0.0,11.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,1.0,6.0,0.0,0.0,6.0,1.0,6.0,3.0,10.0,5.0,12.0,1.0,6.0,1.0,9.0,1.0,2.0,3.0,8.0,0.0,9.0,8206.0

In [46]:
raw_train

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
0,2014,1,0,1.0,1.0,3.0,19.0,4.0,0.0,1.0,1.0,0.0,0.0,23.0,1.0,1.0,3.0,6.0,0.0,0.0,5.0,7.0,1.0,1.0,1.0,3.0,5.0,0.0,0.0,5.0,0.0,9.0,2.0,10.0,4.0,6.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,5.0,0.0,8.0,19138.0
1,2015,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,2.0,1.0,1.0,6.0,0.0,0.0,8.0,9.0,2.0,0.0,1.0,4.0,6.0,0.0,0.0,3.0,1.0,4.0,2.0,1.0,5.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
2,2016,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,3.0,5.0,1.0,6.0,2.0,0.0,5.0,10.0,2.0,0.0,1.0,4.0,7.0,0.0,0.0,2.0,1.0,2.0,2.0,1.0,2.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
3,2017,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,4.0,5.0,5.0,6.0,0.0,0.0,10.0,8.0,2.0,0.0,2.0,5.0,5.0,0.0,0.0,2.0,1.0,1.0,2.0,8.0,5.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
4,2014,3,0,0.0,1.0,4.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,4.0,5.0,1.0,6.0,0.0,0.0,1.0,8.0,0.0,0.0,6.0,3.0,6.0,0.0,0.0,0.0,0.0,0.0,6.0,4.0,2.0,9.0,1.0,5.0,5.0,0.0,0.0,2.0,4.0,1.0,2.0,8.0,8181.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14387,2014,8774,0,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,5.0,0.0,0.0,1.0,2.0,1.0,0.0,5.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,10.0,1.0,6.0,5.0,2.0,1.0,3.0,3.0,8.0,2.0,8.0,8012.0
14388,2015,8774,0,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,22.0,1.0,5.0,0.0,5.0,0.0,0.0,0.0,2.0,1.0,0.0,5.0,2.0,8.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,10.0,1.0,6.0,5.0,2.0,1.0,3.0,3.0,8.0,2.0,8.0,8012.0
14389,2016,8774,0,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,5.0,0.0,0.0,1.0,1.0,1.0,0.0,5.0,4.0,6.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,5.0,11.0,1.0,7.0,6.0,2.0,1.0,3.0,3.0,8.0,2.0,8.0,8012.0
14390,2017,8774,0,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,1.0,5.0,0.0,0.0,1.0,1.0,0.0,0.0,5.0,2.0,5.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,5.0,11.0,1.0,7.0,6.0,2.0,1.0,3.0,3.0,8.0,2.0,8.0,8012.0
14391,2017,8775,0,1.0,2.0,2.0,8.0,6.0,0.0,0.0,0.0,0.0,0.0,24.0,2.0,1.0,0.0,11.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,5.0,0.0,0.0,8.0,0.0,8.0,3.0,1.0,5.0,11.0,1.0,6.0,1.0,9.0,1.0,2.0,3.0,8.0,0.0,9.0,8206.0

In [33]:

pd.set_option("display.max_columns", None)
raw_train[raw_train.PerStatus==1]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
17,2017,11,1,1.0,1.0,7.0,20.0,1.0,0.0,0.0,0.0,0.0,1.0,22.0,2.0,5.0,0.0,6.0,3.0,0.0,1.0,3.0,0.0,0.0,2.0,4.0,7.0,0.0,0.0,1.0,0.0,0.0,5.0,5.0,2.0,3.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,20208.0
20,2016,14,1,1.0,1.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,1.0,6.0,0.0,1.0,0.0,10.0,0.0,0.0,2.0,2.0,8.0,0.0,0.0,1.0,1.0,0.0,5.0,1.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,4045.0
48,2014,28,1,1.0,1.0,4.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,6.0,0.0,0.0,1.0,5.0,0.0,0.0,1.0,0.0,7.0,1.0,2.0,1.0,0.0,0.0,1.0,4.0,2.0,4.0,2.0,2.0,1.0,2.0,0.0,2.0,1.0,5.0,0.0,8.0,6167.0
76,2014,54,1,1.0,1.0,4.0,8.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,1.0,1.0,0.0,5.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,7.0,0.0,0.0,1.0,0.0,0.0,10.0,10.0,2.0,5.0,1.0,1.0,1.0,0.0,0.0,NaN,4.0,8.0,1.0,8.0,8145.0
154,2014,105,1,1.0,1.0,3.0,19.0,1.0,0.0,0.0,1.0,0.0,1.0,22.0,1.0,1.0,0.0,6.0,0.0,2.0,1.0,8.0,1.0,0.0,1.0,4.0,7.0,0.0,0.0,1.0,1.0,3.0,1.0,10.0,4.0,5.0,2.0,2.0,2.0,0.0,0.0,2.0,3.0,5.0,1.0,13.0,19043.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14285,2014,8714,1,1.0,1.0,3.0,13.0,6.0,0.0,0.0,0.0,0.0,1.0,23.0,3.0,1.0,4.0,6.0,0.0,0.0,4.0,10.0,1.0,0.0,1.0,4.0,6.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0,5.0,5.0,1.0,2.0,2.0,0.0,0.0,2.0,4.0,6.0,1.0,8.0,13049.0
14294,2015,8718,1,1.0,1.0,2.0,20.0,2.0,0.0,1.0,0.0,0.0,1.0,23.0,3.0,1.0,0.0,6.0,0.0,0.0,2.0,5.0,0.0,0.0,2.0,6.0,6.0,0.0,0.0,3.0,1.0,2.0,4.0,1.0,4.0,6.0,1.0,3.0,3.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,20089.0
14371,2016,8757,1,1.0,1.0,3.0,13.0,4.0,0.0,0.0,0.0,1.0,1.0,23.0,2.0,5.0,0.0,6.0,0.0,0.0,0.0,4.0,4.0,0.0,2.0,3.0,7.0,0.0,0.0,3.0,1.0,3.0,7.0,1.0,4.0,6.0,1.0,3.0,3.0,0.0,0.0,2.0,4.0,3.0,2.0,8.0,13159.0
14374,2017,8758,1,1.0,1.0,4.0,13.0,4.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,6.0,1.0,0.0,2.0,9.0,1.0,0.0,2.0,2.0,7.0,0.0,0.0,3.0,0.0,5.0,2.0,8.0,5.0,8.0,1.0,2.0,2.0,1.0,1.0,NaN,4.0,7.0,2.0,8.0,13159.0
14386,2016,8769,1,1.0,1.0,7.0,8.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,2.0,6.0,0.0,0.0,3.0,7.0,1.0,0.0,2.0,5.0,7.0,0.0,0.0,1.0,0.0,0.0,5.0,9.0,2.0,3.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,8.0,1.0,8.0,8038.0

In [45]:
nunique = raw_train.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
cols_to_drop

Index([], dtype='object')

In [6]:
for col_n in raw_train.columns[3:]:
    print(col_n)
    if len(raw_train[col_n].value_counts().index) < 10:
        print(raw_train[col_n].value_counts())
        
    else:
        print('too many class')

sex
1.0    10042
0.0     4277
Name: sex, dtype: int64
工作分類
1.0    12753
2.0     1566
Name: 工作分類, dtype: int64
職等
4.0    5902
7.0    3812
3.0    3148
2.0    1013
1.0     355
5.0      42
6.0      24
8.0      23
Name: 職等, dtype: int64
廠區代碼
too many class
管理層級
1.0    10982
4.0     1761
6.0      930
2.0      242
3.0      226
5.0      178
Name: 管理層級, dtype: int64
工作資歷1
0.0    13902
1.0      417
Name: 工作資歷1, dtype: int64
工作資歷2
0.0    13578
1.0      741
Name: 工作資歷2, dtype: int64
工作資歷3
0.0    13452
1.0      867
Name: 工作資歷3, dtype: int64
工作資歷4
0.0    13514
1.0      805
Name: 工作資歷4, dtype: int64
工作資歷5
0.0    11043
1.0     3276
Name: 工作資歷5, dtype: int64
專案時數
too many class
專案總數
2.0    5735
1.0    4596
3.0    2727
4.0     894
5.0     247
6.0      82
7.0      26
8.0      12
Name: 專案總數, dtype: int64
當前專案角色
5.0    10581
1.0     3192
3.0      370
2.0      176
Name: 當前專案角色, dtype: int64
特殊專案佔比
too many class
工作地點
6.0     10951
5.0      2025
11.0      451
3.0       343
2.0       216
1.0       199
4.0        97
8.0        29
9.0         8
Name: 工作地點, dtype: int64
訓練時數A
too many class
訓練時數B
too many class
訓練時數C
too many class
生產總額
too many class
榮譽數
too many class
是否升遷
0.0    13307
1.0     1012
Name: 是否升遷, dtype: int64
升遷速度
too many class
近三月請假數A
too many class
近一年請假數A
too many class
近三月請假數B
0.0    14052
1.0      130
2.0       63
3.0       36
4.0       11
8.0        9
5.0        8
6.0        6
7.0        4
Name: 近三月請假數B, dtype: int64
近一年請假數B
0.0    13945
1.0      203
2.0       62
3.0       32
7.0       21
4.0       18
8.0       15
5.0       13
6.0       10
Name: 近一年請假數B, dtype: int64
出差數A
too many class
出差數B
too many class
出差集中度
too many class
年度績效等級A
too many class
年度績效等級B
too many class
年度績效等級C
5.0    5691
2.0    5674
4.0    2771
3.0     181
1.0       2
Name: 年度績效等級C, dtype: int64
年齡層級
too many class
婚姻狀況
1.0    10639
2.0     3667
3.0       13
Name: 婚姻狀況, dtype: int64
年資層級A
2.0    3275
3.0    3074
4.0    2288
6.0    1683
5.0    1648
1.0    1343
7.0     838
8.0     169
9.0       1
Name: 年資層級A, dtype: int64
年資層級B
2.0    3631
1.0    2945
3.0    2708
4.0    1831
6.0    1408
5.0    1189
7.0     511
8.0      96
Name: 年資層級B, dtype: int64
年資層級C
too many class
任職前工作平均年數
1.0    6710
0.0    5902
2.0    1382
3.0     254
4.0      44
5.0      18
7.0       9
Name: 任職前工作平均年數, dtype: int64
最高學歷
2.0    8154
3.0     701
1.0     211
Name: 最高學歷, dtype: int64
畢業學校類別
4.0    5993
3.0    3438
1.0     763
5.0     357
Name: 畢業學校類別, dtype: int64
畢業科系類別
8.0    3158
3.0    2739
6.0    2337
5.0    1791
9.0    1675
7.0    1004
2.0     867
1.0     622
4.0     126
Name: 畢業科系類別, dtype: int64
眷屬量
1.0    4813
0.0    4695
2.0    3888
3.0     923
Name: 眷屬量, dtype: int64
通勤成本
too many class
歸屬部門
too many class

In [65]:
for col_n in raw_train.columns[3:]:
    print(col_n)

    print(raw_train[col_n].isnull().value_counts())

sex
False    14319
True        73
Name: sex, dtype: int64
工作分類
False    14319
True        73
Name: 工作分類, dtype: int64
職等
False    14319
True        73
Name: 職等, dtype: int64
廠區代碼
False    14319
True        73
Name: 廠區代碼, dtype: int64
管理層級
False    14319
True        73
Name: 管理層級, dtype: int64
工作資歷1
False    14319
True        73
Name: 工作資歷1, dtype: int64
工作資歷2
False    14319
True        73
Name: 工作資歷2, dtype: int64
工作資歷3
False    14319
True        73
Name: 工作資歷3, dtype: int64
工作資歷4
False    14319
True        73
Name: 工作資歷4, dtype: int64
工作資歷5
False    14319
True        73
Name: 工作資歷5, dtype: int64
專案時數
False    14319
True        73
Name: 專案時數, dtype: int64
專案總數
False    14319
True        73
Name: 專案總數, dtype: int64
當前專案角色
False    14319
True        73
Name: 當前專案角色, dtype: int64
特殊專案佔比
False    14319
True        73
Name: 特殊專案佔比, dtype: int64
工作地點
False    14319
True        73
Name: 工作地點, dtype: int64
訓練時數A
False    14319
True        73
Name: 訓練時數A, dtype: int64
訓練時數B
False    14319
True        73
Name: 訓練時數B, dtype: int64
訓練時數C
False    14319
True        73
Name: 訓練時數C, dtype: int64
生產總額
False    14319
True        73
Name: 生產總額, dtype: int64
榮譽數
False    14319
True        73
Name: 榮譽數, dtype: int64
是否升遷
False    14319
True        73
Name: 是否升遷, dtype: int64
升遷速度
False    14319
True        73
Name: 升遷速度, dtype: int64
近三月請假數A
False    14319
True        73
Name: 近三月請假數A, dtype: int64
近一年請假數A
False    14319
True        73
Name: 近一年請假數A, dtype: int64
近三月請假數B
False    14319
True        73
Name: 近三月請假數B, dtype: int64
近一年請假數B
False    14319
True        73
Name: 近一年請假數B, dtype: int64
出差數A
False    14319
True        73
Name: 出差數A, dtype: int64
出差數B
False    14319
True        73
Name: 出差數B, dtype: int64
出差集中度
False    14319
True        73
Name: 出差集中度, dtype: int64
年度績效等級A
False    14319
True        73
Name: 年度績效等級A, dtype: int64
年度績效等級B
False    14319
True        73
Name: 年度績效等級B, dtype: int64
年度績效等級C
False    14319
True        73
Name: 年度績效等級C, dtype: int64
年齡層級
False    14319
True        73
Name: 年齡層級, dtype: int64
婚姻狀況
False    14319
True        73
Name: 婚姻狀況, dtype: int64
年資層級A
False    14319
True        73
Name: 年資層級A, dtype: int64
年資層級B
False    14319
True        73
Name: 年資層級B, dtype: int64
年資層級C
False    14319
True        73
Name: 年資層級C, dtype: int64
任職前工作平均年數
False    14319
True        73
Name: 任職前工作平均年數, dtype: int64
最高學歷
False    9066
True     5326
Name: 最高學歷, dtype: int64
畢業學校類別
False    10551
True      3841
Name: 畢業學校類別, dtype: int64
畢業科系類別
False    14319
True        73
Name: 畢業科系類別, dtype: int64
眷屬量
False    14319
True        73
Name: 眷屬量, dtype: int64
通勤成本
False    14319
True        73
Name: 通勤成本, dtype: int64
歸屬部門
False    14319
True        73
Name: 歸屬部門, dtype: int64

In [50]:
raw_train[raw_train.PerNo==1]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
0,2014,1,0,1.0,1.0,3.0,19.0,4.0,0.0,1.0,1.0,0.0,0.0,23.0,1.0,1.0,3.0,6.0,0.0,0.0,5.0,7.0,1.0,1.0,1.0,3.0,5.0,0.0,0.0,5.0,0.0,9.0,2.0,10.0,4.0,6.0,1.0,2.0,1.0,1.0,2.0,NaN,NaN,5.0,0.0,8.0,19138.0
1,2015,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,2.0,1.0,1.0,6.0,0.0,0.0,8.0,9.0,2.0,0.0,1.0,4.0,6.0,0.0,0.0,3.0,1.0,4.0,2.0,1.0,5.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
2,2016,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,3.0,5.0,1.0,6.0,2.0,0.0,5.0,10.0,2.0,0.0,1.0,4.0,7.0,0.0,0.0,2.0,1.0,2.0,2.0,1.0,2.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0
3,2017,1,0,1.0,1.0,3.0,19.0,6.0,0.0,1.0,1.0,0.0,0.0,23.0,4.0,5.0,5.0,6.0,0.0,0.0,10.0,8.0,2.0,0.0,2.0,5.0,5.0,0.0,0.0,2.0,1.0,1.0,2.0,8.0,5.0,7.0,1.0,2.0,2.0,1.0,2.0,NaN,NaN,5.0,2.0,8.0,19138.0

In [34]:
raw_train[raw_train.PerNo==11]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
15,2015,11,0,1.0,1.0,7.0,20.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,0.0,6.0,0.0,0.0,2.0,4.0,0.0,0.0,1.0,2.0,6.0,0.0,0.0,3.0,0.0,3.0,5.0,6.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,20208.0
16,2016,11,0,1.0,1.0,7.0,20.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,0.0,6.0,3.0,0.0,0.0,4.0,0.0,0.0,1.0,3.0,5.0,0.0,0.0,1.0,0.0,0.0,5.0,2.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,20208.0
17,2017,11,1,1.0,1.0,7.0,20.0,1.0,0.0,0.0,0.0,0.0,1.0,22.0,2.0,5.0,0.0,6.0,3.0,0.0,1.0,3.0,0.0,0.0,2.0,4.0,7.0,0.0,0.0,1.0,0.0,0.0,5.0,5.0,2.0,3.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,20208.0

In [40]:
raw_train[raw_train.PerNo==14]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
18,2014,14,0,1.0,1.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,1.0,24.0,1.0,5.0,0.0,6.0,0.0,0.0,0.0,4.0,0.0,0.0,1.0,4.0,6.0,0.0,0.0,1.0,0.0,2.0,5.0,2.0,2.0,2.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,4045.0
19,2015,14,0,1.0,1.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,1.0,6.0,2.0,0.0,1.0,8.0,0.0,0.0,1.0,2.0,5.0,0.0,0.0,1.0,0.0,1.0,5.0,10.0,4.0,2.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,4045.0
20,2016,14,1,1.0,1.0,7.0,4.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,2.0,5.0,1.0,6.0,0.0,1.0,0.0,10.0,0.0,0.0,2.0,2.0,8.0,0.0,0.0,1.0,1.0,0.0,5.0,1.0,4.0,3.0,2.0,1.0,1.0,0.0,0.0,2.0,4.0,5.0,0.0,8.0,4045.0

In [41]:
raw_train[raw_train.PerNo==28]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
48,2014,28,1,1.0,1.0,4.0,6.0,1.0,0.0,0.0,0.0,0.0,0.0,23.0,1.0,5.0,0.0,6.0,0.0,0.0,1.0,5.0,0.0,0.0,1.0,0.0,7.0,1.0,2.0,1.0,0.0,0.0,1.0,4.0,2.0,4.0,2.0,2.0,1.0,2.0,0.0,2.0,1.0,5.0,0.0,8.0,6167.0

In [42]:
raw_train[raw_train.PerNo==54]

,yyyy,PerNo,PerStatus,sex,工作分類,職等,廠區代碼,管理層級,工作資歷1,工作資歷2,工作資歷3,工作資歷4,工作資歷5,專案時數,專案總數,當前專案角色,特殊專案佔比,工作地點,訓練時數A,訓練時數B,訓練時數C,生產總額,榮譽數,是否升遷,升遷速度,近三月請假數A,近一年請假數A,近三月請假數B,近一年請假數B,出差數A,出差數B,出差集中度,年度績效等級A,年度績效等級B,年度績效等級C,年齡層級,婚姻狀況,年資層級A,年資層級B,年資層級C,任職前工作平均年數,最高學歷,畢業學校類別,畢業科系類別,眷屬量,通勤成本,歸屬部門
76,2014,54,1,1.0,1.0,4.0,8.0,1.0,0.0,0.0,0.0,0.0,1.0,23.0,1.0,1.0,0.0,5.0,0.0,0.0,1.0,3.0,0.0,0.0,1.0,3.0,7.0,0.0,0.0,1.0,0.0,0.0,10.0,10.0,2.0,5.0,1.0,1.0,1.0,0.0,0.0,NaN,4.0,8.0,1.0,8.0,8145.0

In [29]:
len(raw_train[raw_train.PerStatus==1].PerNo)

796

In [26]:
len(raw_train.PerNo.unique()) #員工數

4600

In [28]:
raw_train.PerStatus.value_counts()

0    13596
1      796
Name: PerStatus, dtype: int64

In [14]:
raw_train.PerNo.value_counts().value_counts()

4    2707
1     771
2     573
3     549
Name: PerNo, dtype: int64